<div style="max-width: 600px">
  <img src="<%= @artworks.first&.user&.to_h[:profile_banner_url] %>" style="width: 100%">
  <% @artworks.each do |artwork| %>
    <%= render partial: 'artworks', locals: { artwork: artwork } %>
  <% end %>

  <hr>

  <% @like_artworks.each do |artwork| %>
    <%= render partial: 'artworks', locals: { artwork: artwork } %>
  <% end %>
</div>
