<div>
  <h1 style="margin: 0 auto; max-width: 600px">404</h1>
</div>
<div>
  <img src="https://pbs.twimg.com/profile_images/1346821889319084034/Q7B3Yuz8_400x400.jpg" style="border-radius: 50%" />
  <span style="position: relative; top: -50px">> ないよ！<span/>
</div>
